@font-face {
    font-family: 'KumbhSans';
    src: url('./KumbhSans.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./JetBrainsMono.ttf');
}

@font-face {
    font-family: 'Figtree';
    src: url('./Figtree.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./SourceCodePro.ttf');
}

@font-face {
    font-family: 'NotoSansSC';
    src: url('./NotoSansSC.ttf');
}
